<p id="notice"><%= notice %></p>

<div class="container not-full-width">
  <div class="row">
    <div class="col-md-12">
      <h1>Projects</h1>
    </div>
  </div>

  <div class="row projects-padding">
    <div class="col-md-4 text-left">
      <%= link_to new_project_path, :class => "btn btn-info btn-md" do %>
        <span class="glyphicon glyphicon-plus-sign"></span> New project
      <% end %>
    </div>

    <div class="col-md-4 text-center">
      <% if will_paginate @projects %>
        <div class="apple-pagination">
          <%= will_paginate @projects %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4 text-right">
      <p>Placeholder for project order</p>
    </div>
  </div>

  <div class="row projects-list projects-padding">
    <%= render @projects %>
  </div>
</div>
