<div class="container not-full-width">
  <h1>New Project</h1>

  <%= render 'form', project: @project %>

  <%= link_to projects_path, :class => "btn btn-info btn-md" do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Back
  <% end %>
</div>
