// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}

.vert-center {
  display: flex;
  align-items: center;
}

.actions {
  border-radius: 25px;
  border: 2px solid #607D8B;
  padding-bottom: 2em;
}

.status-incomplete {
  color: #d9534f;
}

.status-complete {
  color: #5cb85c;
}
